#resource-cards {

	&>.row {
		display: flex;
		flex-wrap: wrap;
	}

	&>.row>[class*='col-'] {
		flex-grow: 1;
	}

	.card {
		transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;

		&:hover {
			transform: scale(1.05);
			box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2) !important;
		}
	}

	.resource-name {
		flex: 1;
		line-height: 1.2em;
		vertical-align: top;
		text-align: start;
	}
}

#resource-filters{
	.form-group {
		width:100%;
		input, .select2 .select2-selection{
			border-radius:0;
			padding: 10px;
			height:auto !important;
			font-size: 16px;

			.select2-selection__rendered{
				font-size: 16px !important;
				line-height: 16px !important;
				padding:0px !important;
				padding-right: 10px !important;
			}
		}
	}
}

#resource {
	overflow: visible;

	.resource-sidebar {

		.company-logo{
			width:100%;
			text-align: center;
			img{
				max-height: 150px;
				margin: 0 auto;
				border: 0;
			}
		}
		&>.card {
			border-radius: 0;
			margin-top: -3em;
			width: 100%;
			padding: 1.5em;
			margin-bottom: 2em;

			@include media-breakpoint-down(md) {
				// margin-top:0;
			}
		}

	}

	.resource-content {
		@include media-breakpoint-up(md) {
			padding: 1.5em .8em;
			padding-right: 0;
		}
	}
}

#resource,
#resource-cards {
	.tags {
		.badge {
			font-size: .7em;
			font-weight: 400;
		}
	}
}