/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.ftpconfig
.remote-sync.json
/public/robots.txt
# composer.json
# composer.lock
error_log
./public/.htaccess
public/htaccess
*.index
phpcs.xml
/storage/app/public/banners
/storage/app/public/categories
/storage/app/public/coupons
/storage/app/public/events
/storage/app/public/pages
/storage/app/public/posts
/storage/app/public/products
/storage/app/public/settings
/storage/app/public/store
/storage/app/public/testimonials
/storage/app/public/users
/storage/app/public/resources
/storage/app/public/uploads
/storage/*.key
/storage/app/public/wp-content
/storage/app/public/videos
/storage/app/public/icons
/storage/app/public/promotions
/storage/app/public/landings
/storage/app/public/promotions
/storage/app/public/companies
/storage/app/public/company-products
/storage/app/public/thumbnails
.rnd
.vscode
/tmp
/VERSION
/.env.example
/phpunit.xml
/error_log
/php.ini.old
/after.sh
/aliases
/Vagrantfile
/.vagrant